<%= form_for message, html: { id: nil, class: "new-message hidden" } do |f| %>
  <%= f.hidden_field :messageable_id, id: nil %>
  <%= f.hidden_field :messageable_type, id: nil %>

  <div class="field">
    <%= f.text_field :subject, placeholder: "Subject", id: nil %>
  </div>

  <div class="field">
    <%= f.text_area :body, placeholder: "Body", id: nil %>
  </div>

  <%= f.submit "Send" -%>
  <button class="cancel">Cancel</button>
<% end -%>
