<div class="message <%= 'reply' if message.reply? -%>" id="message-<%= message.id -%>">
  <div class="subject">
    <%= message.subject -%>
  </div>

  <div class="body">
    <%= message.body -%><br>
    <%= pluralize(Message.replies.where(object_id: message.id).count, "reply") -%>
  </div>

  <button class="start-reply" data-message-id="<%= message.id -%>">Reply</button>
</div>
