<div class="message" id="message-<%= message.id -%>">
  <div class="author">
    <%= message.author.initials %>
  </div>

  <div class="created-at">
    <%= message.author.name -%> ·
    <%= link_to message_path(message) do %>
       <%= time_ago_in_words message.created_at -%> ago
    <% end -%>
  </div>

  <% if message.opener? %>
    <div class="subject">
      <%= message.subject -%>
    </div>
  <% end -%>

  <div class="body">
    <%= message.body -%><br>
  </div>

  <% if message.opener? %>
    <div class="replies">
      <%= render message.replies -%>
    </div>

    <button class="reply" data-message-id="<%= message.id -%>">Reply</button>

    <%= render "messages/form", message: message.new_reply(current_user, nil) %>
  <% end -%>
</div>
