<h1>Messages</h1>

<form class="inline">
  Filter:

  <input type="radio" id="opened" name="scope" value="opened" <%= "checked" if params[:scope] == "opened" -%>>
  <label for="opened">Opened</label>

  <input type="radio" id="closed" name="scope" value="closed" <%= "checked" if params[:scope] == "closed" -%>>
  <label for="closed">Closed</label>
</form>

<% if @messages.present? %>
  <%= render "pagination" %>
  <div class="messages"><%= render @messages -%></div>
  <%= render "pagination" %>
<% else %>
  <p>There are no <%= params[:scope] -%> messages.</p>
<% end %>

<script>
  var radios = document.querySelectorAll("input[type='radio']");
  for (var i = 0; i < radios.length; i++) {
    radios[i].addEventListener("click", function() {
      this.parentElement.submit();
    })
  }
</script>
