<div id="topic">
  <% if current_user.admin? %>
    <%= link_to "Edit", edit_topic_path(@topic), class: "right" %>
  <% end %>

  <h1><%= @topic.name -%></h1>

  <p class="prerequisites">
    Prerequisites:
    <%= @topic.prerequisite_topics.map do |topic| %>
      <% link_to topic.code, canonical_topic_path(topic.slug) %>
    <% end.join(", ").html_safe -%>
  </p>

  <table class="grid two-column">
    <tr>
      <th>Overview</th>
      <th>Practices</th>
    </tr>
    <tr>
      <td><%= render "overview" %></td>
      <td><%= render "objectives" %></td>
    </tr>
    <tr>
      <th>Position in the Progression of Learning</th>
      <th>Teachable Moments</th>
    </tr>
    <tr>
      <td><%= render "progression" %></td>
      <td><%= render "teachable_moments" %></td>
    </tr>
  </table>

  <%= render @topic.exercises.order(:part) -%>


  <%= render @topic.messages %>

  <button id="new-message">New Message</button>
  <%= render "messages/form", message: @topic.messages.build -%>

  <table class="grid two-column">
    <tr>
      <th>Discussion Questions to Reinforce and Asses</th>
      <th>To Parents and Others Providing Support</th>
    </tr>
    <tr>
      <td>
        <%= render "questions" -%>
      </td>
      <td>
        <%= render "parents" -%>
      </td>
    </tr>
    <tr>
      <th>Connections</th>
      <th>Books for Correlated Reading</th>
    </tr>
    <tr>
      <td>
        <%= render "connections" -%>
      </td>
      <td>
        <%= render "books" -%>
      </td>
    </tr>
  </table>
</div>
