<p id="notice"><%= notice %></p>

<h1>
  Lesson <%= @topic.code -%><br>
  <%= @topic.name -%>
</h1>

<nav id="left-column">
  <h3>Table of Contents:</h3>

  <ul>
    <li><a href="#overview">Overview</a></li>
    <li><a href="#progression">Position in the Progress of Learning</a></li>
    <li><a href="#objectives">Objectives</a></li>
    <li><a href="#teachable-moments">Teachable Moments</a></li>
    <li><a href="#questions">Questions</a></li>
    <li><a href="#parents">Parents</a></li>
  </ul>

  <h3>Prerequisites:</h3>

  <ul>
    <% @prerequisite_topics.each do |prerequisite_topic| %>
      <li><%= link_to prerequisite_topic.code, prerequisite_topic -%></li>
    <% end %>
  </ul>

  <h3>Exercises:</h3>

  <ul>
    <% @exercises.each do |exercise| %>
      <li><%= exercise.name -%></li>
    <% end %>
  </ul>

  <p><%= link_to 'Edit', edit_topic_path(@topic) %></p>
</nav>

<section id="right-column">
  <h2 id="overview">Overview:</h2>

  <%= simple_format @topic.overview %>

  <h2 id="progression">Position in the Progress of Learning:</h2>

  <%= simple_format @topic.progression %>

  <h2 id="objectives">Objectives:</h2>

  <%= simple_format @topic.objectives %>

  <h2 id="teachable-moments">Teachable Moments:</h2>

  <%= simple_format @topic.teachable_moments %>

  <h2 id="questions">Questions:</h2>

  <%= simple_format @topic.questions %>

  <h2 id="parents">For Parents and Others Providing Support</h2>

  <%= simple_format @topic.parents %>

  <h2 id="connections">Connections</h2>

  <%= simple_format @topic.connections %>

  <h2 id="books">Books for Correlated Reading</h2>

  <%= simple_format @topic.books %>
</section>
