<nav>
  <ul class="tabs">
    <% case @previous_topics.size %>
    <% when 1 %>
      <li data-position="2"><%= render "tab", topic: @previous_topics[0] if @previous_topics[0] -%></li>
    <% when 2 %>
      <li data-position="1"><%= render "tab", topic: @previous_topics[0] if @previous_topics[0] -%></li>
      <li data-position="2"><%= render "tab", topic: @previous_topics[1] if @previous_topics[1] -%></li>
    <% end %>

    <li data-position="3"><%= @topic.code -%></li>

    <% case @next_topics.size %>
    <% when 1 %>
      <li data-position="4"><%= render "tab", topic: @next_topics[0] if @next_topics[0] -%></li>
    <% when 2 %>
      <li data-position="4"><%= render "tab", topic: @next_topics[0] if @next_topics[0] -%></li>
      <li data-position="5"><%= render "tab", topic: @next_topics[1] if @next_topics[1] -%></li>
    <% end %>
  </ul>
</nav>

<div id="topic">
  <h1><%= @topic.name -%></h1>

  <p class="prerequisites">
    Prerequisites:
    <%= @topic.prerequisite_topics.map do |topic| %>
      <% link_to topic.code, canonical_topic_path(topic.slug) %>
    <% end.join(", ").html_safe -%>
  </p>

  <%= render "overview" %>
  <%= render "objectives" %>
  <%= render "progression" %>
  <%= render "teachable_moments" %>

  <%= render @exercises -%>

  <div id="messages">
    <h2>Questions & Answers About Lesson</h2>

    <%= render @topic.messages %>

    <button id="new-message">Ask a Question</button>
    <%= render "messages/form", message: @topic.messages.build -%>
  </div>

  <%= render "questions" %>
  <%= render "parents" %>
  <%= render "connections" %>
  <%= render "books" %>

  <% if current_user.admin? %>
    <%= link_to "Edit this Topic", edit_topic_path(@topic) -%>
  <% end %>
</div>
