<div id="topic">
  <% if current_user.admin? %>
    <%= link_to "Edit", edit_topic_path(@topic), class: "right" %>
  <% end %>

  <h1><%= @topic.name -%></h1>

  <p class="prerequisites">
    Prerequisites:
    <%= @topic.prerequisite_topics.map do |topic| %>
      <% link_to topic.code, canonical_topic_path(topic.slug) %>
    <% end.join(", ").html_safe -%>
  </p>

  <table class="grid two-column">
    <tr>
      <th>Overview</th>
      <th>Practices</th>
    </tr>
    <tr>
      <td>
        <%= markdown @topic.overview %>
        <%= markdown "Position in the Progression of Learning: " + @topic.progression %>
      </td>
      <td>
        <%= markdown @topic.objectives %>
      </td>
    </tr>
  </table>

  <%= render @topic.exercises.order(:part) -%>

  <%= render @topic.messages %>

  <button id="new-message">New Message</button>
  <%= render "messages/form", message: @topic.messages.build -%>
</div>
