<%= render "shared/tabs" -%>

<div class="tab supply-list">
  <aside>
    <p>
      List supplies for:
    </p>

    <ul class="unstyled">
      <% @quantities_by_material_name_by_subject_code.keys.sort.each do |subject_code| %>
        <li>
          <label>
            <input type="checkbox" name="subject_code" value="<%= subject_code -%>" checked>
            <%= subject_code %> Thread
          </label>
        </li>
      <% end %>
    </ul>
  </aside>

  <article>
    <ol class="unstyled">
      <% @quantities_by_material_name_by_subject_code.each do |subject_code, quantities_by_material_name| %>
        <% quantities_by_material_name.each do |material_name, quantities| %>
          <li class="material" data-subject-code="<%= subject_code -%>">
            <% if quantities.all?(&:nil?) %>
              <span class="name"><%= material_name %></span>
            <% else %>
              <% sum = quantities.reject(&:nil?).sum %>
              <span class="quantity"><%= sum %></span>
              <span class="name"><%= pluralize(sum, material_name.strip).gsub(/^\d+/, "") %></span>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ol>
  </article>
</div>
