<% if requisitions.empty? %>
  No exercises -
<% else %>
  <p><strong>Exercises:</strong></p>

  <ul>
    <% requisitions.each do |requisition| %>
      <% exercise = requisition.exercise %>

      <li <%= 'class="highlight"'.html_safe if params[:exercise_ids] && params[:exercise_ids].include?(exercise.id.to_s) -%>>
        <% if exercise.nil? || exercise.topic.nil? %>
          <span style="color: blue;"><b>ERROR:</b> Linked to an invalid exercise ID (<%= requisition.exercise_id %>). Click Unlink and try again.</span>
        <% else %>
          <%= link_to canonical_topic_path(exercise.topic.slug, anchor: "part-#{exercise.part}", material_id: @material.id) do %>
            <%= exercise.topic.code -%>: <%= truncate(exercise.name, length: 45) %>
          <% end -%>
        <% end %>
        <%= form_tag requisition_path(requisition), method: :delete, class: "inline" do %>
          <input type="submit" value="Unlink">
        <% end -%>
      </li>
    <% end -%>
  </ul>
<% end -%>

<%= form_for Requisition.new( material_id: @material.id ), html: { class: "inline" } do |f| %>
  <%= f.hidden_field :material_id %>

  Link to <b>exercise ID</b>: <%= f.text_field :exercise_id %>
  with a <b>quantity</b>: <%= f.text_field :quantity %>
  and a <b>parenthetical</b>: <%= f.text_field :comment %>

  <%= f.submit "Link" %>
<% end -%>
<br><br>
