<h1>Editing material - 

  <span style='color: red;' class="<%= 'hidden' unless @material.inconsistent_quantities? %>">
    ERROR! Incosistent use of quantities
  </span>
</h1>

<p>
  <strong>Original name:</strong>
  <%= @material.original_name -%>
</p>

<%= render "exercises", requisitions: @material.requisitions -%>

<%= render 'form' %>

<%= link_to 'Back', materials_path %>
