<h2><%= @exercise.name %></h2>

<h3>Duration:</h3>

<%= simple_format @exercise.duration %>

<% if !@exercise.materials.empty? %>
  <h3>Materials:</h3>

  <table class="full-width materials">
    <thead>
      <tr>
        <th>ID</th>
        <th>Original Name</th>
        <th>New Name</th>
      </tr>
    </thead>
    <tbody>
      <% @exercise.materials.each do |material| %>
        <tr class="<%= 'highlight' if material.id.to_s == params[:material_id] -%>">
          <td><%= link_to material.id, material -%></td>
          <td><%= material.original_name -%></td>
          <td><%= material.name -%></td>
        </tr>
      <% end -%>
    </tbody>
  </table>
<% end -%>

<h3>Body:</h3>

<%= simple_format @exercise.body %>

<%= link_to 'Edit', edit_exercise_path(@exercise) %> |
