<h2><%= @exercise.id %> - <%= @exercise.name %></h2>

<h3>Duration:</h3>

<%= markdown @exercise.duration %>

<% if !@exercise.materials.empty? %>
  <h3>Materials:</h3>

  <table class="full-width materials">
    <thead>
      <tr>
        <th>ID</th>
        <th>Qty</th>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <% @exercise.reqs_with_materials.each do |requisition| %>
        <% classes = [] %>
        <% classes << "highlight" if requisition.material.id.to_s == params[:material_id] %>
        <% classes << "faded"     if requisition.material.archived %>
        <tr class="<%= classes.join(" ") -%>">
          <td><%= link_to requisition.material.id, edit_material_path(requisition.material) -%></td>
          <td style='width: 10px;'><%= requisition.quantity -%></td>
          <td><%= requisition.material.name -%></td>
          <td><%= requisition.material.description.to_s[0..30] %></td>
        </tr>
      <% end -%>
    </tbody>
  </table>
<% end -%>

<button onclick="document.querySelector('#materials_text').classList.toggle('hidden')">
  Toggle Raw Materials Text
</button>

<div id="materials_text" class="hidden" style="font-size: 12px; color: gray">
  <%= markdown @topic.materials_text.gsub( /\n/, '<br>' ) %>
</div>

<h3>Body:</h3>

<%= markdown @exercise.body %>

<%= link_to 'Edit', edit_exercise_path(@exercise) %>

<h2>Messages</h2>

<%= render @exercise.messages %>

<button id="new-message">New Message</button>
<%= render "messages/form", message: @exercise.messages.build -%>
