<h2><%= @exercise.name %></h2>

<h3>Duration:</h3>

<%= simple_format @exercise.duration %>

<% if !@exercise.materials.empty? %>
  <h3>Materials:</h3>

  <table class="full-width materials">
    <thead>
      <tr>
        <th>ID</th>
        <th>Original Name</th>
        <th>New Name</th>
      </tr>
    </thead>
    <tbody>
      <% @exercise.materials.each do |material| %>
        <% classes = [] %>
        <% classes << "highlight" if material.id.to_s == params[:material_id] %>
        <% classes << "faded"     if material.archived %>
        <tr class="<%= classes.join(" ") -%>">
          <td><%= link_to material.id, edit_material_path(material) -%></td>
          <td><%= material.original_name -%></td>
          <td><%= material.name -%></td>
        </tr>
      <% end -%>
    </tbody>
  </table>
<% end -%>

<button onclick="document.querySelector('#materials_text').classList.toggle('hidden')">
  Toggle Raw Materials Text
</button>

<div id="materials_text" class="hidden" style="font-size: 12px; color: gray">
  <%= simple_format @topic.materials_text %>
</div>

<h3>Body:</h3>

<%= simple_format @exercise.body %>

<%= link_to 'Edit', edit_exercise_path(@exercise) %> |

<h2>Messages</h2>

<%= render @exercise.messages %>

<button id="new-message">New Message</button>
<%= render "messages/form", message: Message.new(object: @exercise) -%>
