<h2><%= @exercise.id %> - <%= @exercise.name %></h2>

<h3>Duration:</h3>

<%= markdown @exercise.duration %>

<% if !@exercise.materials.empty? %>
  <h3>Materials:</h3>

  <ul>
    <% @exercise.reqs_with_materials.each do |requisition| %>
      <% classes = [] %>
      <% classes << "highlight" if requisition.material.id.to_s == params[:material_id] %>
      <% classes << "faded"     if requisition.material.archived %>
      <li class="<%= classes.join(" ") -%>">
        <%= form_for requisition, html: { class: "inline" } do |f| %>
          <%= f.hidden_field :material_id %>
          <%= f.submit "S" %>
          <%= f.text_field :quantity, style: 'width: 30px;' %>
        <% end -%>
        <%= form_for requisition.material, html: { class: "inline" } do |f| %>
          <%= hidden_field_tag :exercise_id, @exercise.id %>
          <%= f.text_field :name, style: 'width: 220px;' %>
          <%= pluralize_ending_for( requisition.material.name ) if requisition.quantity.to_i > 1 %>
          <%= f.submit "S" %>
        <% end %>
        <%= form_for requisition, html: { class: "inline" } do |f| %>
          <%= f.hidden_field :material_id %>
          ( <%= f.text_field :comment, style: 'width: 200px;' %> )
          <%= f.submit "S" %>
        <% end -%>
        <%= link_to requisition.material.id, edit_material_path(requisition.material), style: 'font-size: 12px;' -%>
      </li>
    <% end %>
  </ul>
<% end -%>

<button onclick="document.querySelector('#materials_preview').classList.add('hidden'); document.querySelector('#materials_text').classList.toggle('hidden')">
  Show Raw Materials Text
</button>

<button onclick="document.querySelector('#materials_text').classList.add('hidden'); document.querySelector('#materials_preview').classList.toggle('hidden')">
  Show Finished Materials Preview
</button>

<div id="materials_text" class="hidden" style="font-size: 12px; color: gray">
  <%= markdown( @topic.materials_text.gsub( /\n/, '<br>' ) ) unless @topic.materials_text.nil? %>
</div>

<div id="materials_preview" class="hidden">
  <ul>
    <% @exercise.reqs_with_materials.each do |requisition| %>
      <% next  if requisition.material.archived %>
      <li>
        <% if requisition.quantity.to_i > 0 %>
          <%= pluralize( requisition.quantity, requisition.material.name ) %>
        <% else %>
          <%= requisition.material.name %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<h3>Body:</h3>

<%= markdown @exercise.body %>

<%= link_to 'Edit', edit_exercise_path(@exercise) %>

<h2>Messages</h2>

<%= render @exercise.messages %>

<button id="new-message">New Message</button>
<%= render "messages/form", message: @exercise.messages.build -%>
