<!DOCTYPE html>
<html>
<head>
  <title>Bfsu</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <%= content_tag(:div, flash[:notice].html_safe, class: "notice") if flash[:notice] -%>
  <%= content_tag(:div, flash[:alert].html_safe,  class: "alert")  if flash[:alert] -%>
  <%= content_for?(:content) ? yield(:content) : yield %>
</div>

</body>
</html>
