<!DOCTYPE html>
<html>
<head>
  <title>Nebel</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <header>
    <%= link_to current_user ? topics_path : root_path, class: "logo" do %>
      BFSU Online
    <% end -%>

    <nav class="menu">
      <% if current_user %>
        <% if !current_user.subscribed? %>
          <div class="trial-message">
            <%= link_to new_subscription_path do %>
              <% if current_user.trial_ends_at.past? %>
                Your trial has expired.
              <% else %>
                You have <%= days_until User.last.trial_ends_at -%> left in your trial.
              <% end %>
            <% end %>
          </div>
        <% end %>

        <div class="activator">
          <%= link_to edit_user_path(current_user) do %>
            <%= current_user.name %> ▾
          <% end -%>
        </div>

        <div class="content hidden">
          <ul>
            <li><%= link_to_unless_current "Curriculum Map", topics_path -%></li>
            <% if current_user.admin? %>
              <li><%= link_to_unless_current "Supply List", materials_path %></li>
              <li><%= link_to_unless_current "Messages", messages_path %></li>
            <% end -%>
            <li><%= link_to_unless_current "Settings", edit_user_path(current_user) %></li>
            <li>
              <%= form_tag sessions_path, method: :delete, class: "inline" do %>
                <a href="javascript:void(0)" onclick="this.parentElement.submit()">Sign Out</a>
              <% end -%>
            </li>
          </ul>
        </div>
      <% else %>
        <%= link_to "Register", new_user_path %> ·
        <%= link_to "Login", new_session_path %>
      <% end -%>
    </nav>
  </header>

  <%= content_tag(:div, flash[:notice].html_safe, class: "notice") if flash[:notice] -%>
  <%= content_tag(:div, flash[:alert].html_safe,  class: "alert")  if flash[:alert] -%>

  <section>
    <%= content_for?(:content) ? yield(:content) : yield %>
  </section>
</div>

</body>
</html>
