<%= link_to "Home", topics_path %>

<% content_for :content do %>
  <p id="notice"><%= notice %></p>

  <h1>
    Lesson <%= @topic.code -%><br>
    <%= @topic.name -%>
  </h1>

  <nav id="left-column">
    <h3>Table of Contents:</h3>

    <ul>
      <li><%= link_to_unless_current "Overview", canonical_topic_path(slug: @topic.slug) -%></li>
      <li><%= link_to_unless_current "Objectives", canonical_topic_path(slug: @topic.slug, field: "objectives") -%></li>
      <li><%= link_to_unless_current "Position in the Progress of Learning", canonical_topic_path(slug: @topic.slug, field: "progression") -%></li>
      <li><%= link_to_unless_current "Teachable Moments", canonical_topic_path(slug: @topic.slug, field: "teachable_moments") -%></li>
      <li><%= link_to_unless_current "Questions", canonical_topic_path(slug: @topic.slug, field: "questions") -%></li>
      <li><%= link_to_unless_current "For Parents and Others Providing Support", canonical_topic_path(slug: @topic.slug, field: "parents") -%></li>
      <li><%= link_to_unless_current "Connections", canonical_topic_path(slug: @topic.slug, field: "connections") -%></li>
      <li><%= link_to_unless_current "Books for Correlated Reading", canonical_topic_path(slug: @topic.slug, field: "books") -%></li>
    </ul>

    <% if !@topic.prerequisite_topics.empty? %>
      <h3>Prerequisites:</h3>

      <ul>
        <% @topic.prerequisite_topics.each do |prerequisite_topic| %>
          <li><%= link_to prerequisite_topic.code, canonical_topic_path(slug: prerequisite_topic.slug) -%></li>
        <% end %>
      </ul>
    <% end %>

    <% if !@topic.exercises.empty? %>
      <h3>Exercises:</h3>

      <ul>
        <% @topic.exercises.order(:part).each do |exercise| %>
          <li><%= link_to_unless_current exercise.name, canonical_exercise_path(topic_slug: @topic.slug, part: exercise.part) -%></li>
        <% end %>
      </ul>
    <% end %>

    <p><%= link_to 'Edit', edit_topic_path(@topic) %></p>
  </nav>

  <section id="right-column">
    <%= content_for?(:topics_content) ? yield(:topics_content) : yield %>
  </section>
<% end -%>

<%= render template: "layouts/application" %>
